/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-rating_plugin {
	border: 1px dotted #f00;
}



.star-rating {
	display: flex;
	font-size: 24px;
  }
  
  